*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    //background: black;
    font-family: sans-serif;
    //overflow: hidden;
}

.intro{
    height: 100vh;

    h1{
        position: absolute;
        color: antiquewhite;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;

        font-size: 80px;
    }

    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        //z-index: 0;
    }
}

.second-section{
    height: 100vh;
    width: 100%;

    h1{
        padding-top: 300px;
        text-align: center;
        font-size: 80px
    }
}